@model Wypozyczalnia.ViewModels.KlientViewModel
@{
    ViewData["Title"] = "Dodaj nowego klienta";
}

<h2>Dodaj nowego klienta</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Imie" class="control-label"></label>
        <input asp-for="Imie" class="form-control" />
        <span asp-validation-for="Imie" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nazwisko" class="control-label"></label>
        <input asp-for="Nazwisko" class="form-control" />
        <span asp-validation-for="Nazwisko" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefon" class="control-label"></label>
        <input asp-for="Telefon" class="form-control" type="tel" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adres" class="control-label"></label>
        <input asp-for="Adres" class="form-control" />
        <span asp-validation-for="Adres" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Dodaj" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}